/* ------------------------------------ */
/* 1. Imports en resets */
/* ------------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9d9d9;
  line-height: 1.5;
}

p {
  max-width: 65ch;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}

main{
padding-bottom: 30px;
}

/* ------------------------------------ */
/* 2. Algemene tekst en links */
/* ------------------------------------ */

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

h2 {
  text-align: center;
  padding: 10px;
}

/* ------------------------------------ */
/* 3. Header + navigatie */
/* ------------------------------------ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  background-color: #d9d9d9;
}

.navlogo {
  cursor: pointer;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navlogo p {
  font-size: 11px;
  text-align: center;
  @media (min-width: 375px) {
    font-size: 13px;
  }
}

.navlogo:focus {
  outline: 2px solid var(--primary-color-dark);
  outline-offset: 4px;
}

.hamburger {
  max-width: 80px;
}


nav {
  position: relative;
}

/* Links in desktopmenu */
.links {
  list-style: none;
  display: flex;
}

.links li {
  display: flex;
  padding: 0 20px;
}

.links li a {
  transition: all 0.3s ease 0s;
}

.links li a:hover {
  color: var(--primary-color-dark);

  @media (max-width: 925px) {
    color: var(--secondary-color-lightmode);
  }
}

/* Hamburger button */
button[popovertarget="menu"] {
  all: unset;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  @media (min-width: 925px) {
    display: none;
  }
}
button[popovertarget="menu"] label{
margin: 0 auto;
}

/* Verberg contactlink op desktop */
#contacthref {
  @media (min-width: 925px) {
    display: none;
  }
}

/* Popover navigatie styling */
nav[popover] {
  @media (min-width: 925px) {
    display: block;
    border: none;
    background-color: #d9d9d9;
  }
}

nav[popover] .links {
  @media (min-width: 925px) {
    display: flex;
    flex-direction: row;
  }
}

/* Close menu knop */
.close-menu {
  background-color: var(---primary-color-dark);
  all: unset;
  position: absolute;
  right: 1em;
}

/* Open popover */
:popover-open {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color-dark);
  position: fixed;
  max-width: 28em;
  margin-left: auto;
}

:popover-open ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:popover-open a {
  font-size: 30px;
}

/* Zoek button */
button {
  all: unset;
  &:hover {
    cursor: pointer;
  }
}

.zoeken.toonSearch {
  translate: 0% 0%; /* Search scherm komt in beeld na klik */
}

.displayy {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.zoeken {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: translate 1s;
  position: fixed;
  top: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(98, 98, 98, 0.8);
  translate: 0% -100%; /*Search scherm verdwijnt buiten beeld*/
}

input[type="search"] {
  height: 3em;
  width: 30em;
}

.zoeken input::placeholder {
  text-transform: uppercase;
  text-align: start;
}

search.zoeken h2 {
  color: white;
  padding-bottom: 30px;
}

ul {
  list-style: none;
  align-items: center;
}

.terug-button {
  all: unset;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}
.search-button{
  display: flex;
  flex-direction: column;
}
.search-button img{
  width: 50px;
  height: 50px;
}

.feedback {
  color: var(--primary-color-dark)
}
/* ------------------------------------ */
/* 4. CTA knoppen */
/* ------------------------------------ */

.cta {
  display: none;

  @media (min-width: 925px) {
    display: inline-block;
    background: var(--primary-color-dark);
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }

  &:hover {
    background: var(--secondary-color-darkmode);
  }
}

#hrefbut {
  background: var(--primary-color-dark);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}
  #hrefbut:hover {
    background: var(--secondary-color-darkmode);
  }



/* ------------------------------------ */
/* 5. Banner */
/* ------------------------------------ */

.banner {
  padding: 6.5rem 0;
  background-image: url("./fotos/banner.jpg");
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid black;
  color: white;
  font-family: inter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.banner,
.banner a {
  color: white;
}

.banner h2 {
  font-family: "Montserrat", sans-serif;
}

/* ------------------------------------ */
/* 6. Artikelen */
/* ------------------------------------ */

#artikelen {
  h2 {
    grid-column: 1/ -1;
  }

  .artikel:nth-of-type(3) {
    grid-column: span 2;
  }

  @media (min-width: 925px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1100px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .artikel:nth-of-type(3) {
      grid-column: span 1;
    }
  }
}

.artikel {
  max-width: 15rem;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.artikel a {
  color: #2b5e60;
  display: block;
  margin-top: 10px;
}

#nieuwsheader {
  font-family: "Montserrat", sans-serif;
}

/* ------------------------------------ */
/* 7. Intro sectie */
/* ------------------------------------ */

.welkom {
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

#intro {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 768px) {
  #intro {
    flex-direction: row;
  }
}

.intro-foto {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .intro-foto {
    min-height: 5rem;
    min-width: 5rem;
    max-width: 80rem;
    max-height: 40rem;
  }
}

/* ------------------------------------ */
/* 8. Scholen sectie */
/* ------------------------------------ */

.deelbutton{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    background: var(--primary-color-dark);
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;

}

.deelbutton:hover{
background: var(--secondary-color-darkmode);
}

.deelscholen {
  @media (min-width: 1189px) {
    display: flex;
    flex-direction: row;
  }
   display: none;
}

.yay{
  display: block;
  padding-top: 20px;
}

.deelscholen img {


    padding-bottom: 15px;

}

#scholen img {
  display: none;
  display: block;
  margin: auto;
  max-width: 100%;
}

.headingscholen {
  font-family: "Montserrat", sans-serif;
}

/* ------------------------------------ */
/* 9. Footer */
/* ------------------------------------ */

footer {
  background: var(--primary-color-dark);
  color: white;
  padding: 20px;
  list-style-type: none;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: center;
}

footer li {
  padding: 0 15px;
  margin-bottom: 16px;
}

footer a {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

footer p {
  text-align: center;
}

.contact {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emailicon {
  width: 100%;
  max-width: 100px;
}
